<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdxt.backend.dao.IssuesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdxt.backend.model.Issues">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="detail" property="detail" />
        <result column="classification" property="classification" />
        <result column="priority_code" property="priorityCode" />
        <result column="d_uid" property="dUid" />
        <result column="v_uid" property="vUid" />
        <result column="p_uid" property="pUid" />
        <result column="state" property="state" />
        <result column="module" property="module" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="gmt_completion" property="gmtCompletion" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, detail, classification, priority_code, d_uid, v_uid, p_uid, state, module, gmt_create, gmt_modified, gmt_completion, is_del
    </sql>


    <!-- 详情结果列 -->
    <resultMap id="DetailResultMap" type="com.cdxt.backend.pojo.vo.IssuesDetailVO" extends="BaseResultMap">
        <result column="d_user" property="dUser" />
        <result column="v_user" property="vUser" />
        <result column="p_user" property="pUser" />
        <result column="hospital_name" property="hospitalName" />
        <collection property="opLogs" ofType="com.cdxt.backend.model.IssuesOpLog" javaType="collection">
            <id column="olid" property="id" />
            <result column="isid" property="isid" />
            <result column="content" property="content" />
            <result column="oluid" property="uid" />
            <result column="extras_text" property="extrasText" />
            <result column="ol_gmt_create" property="gmtCreate" />
        </collection>
    </resultMap>
    <sql id="Detail_Column_List">
        ti.id,ti.title,ti.detail,ti.classification,ti.priority_code,ti.state,ti.module,ti.gmt_create,ti.gmt_completion,
        du.true_name as d_user,pu.true_name as p_user,vu.true_name as v_user,
        h.name as hospital_name,
        tiol.id as olid, tiol.isid, tiol.content, tiol.uid as oluid, tiol.gmt_create as ol_gmt_create,tiol.extras_text
    </sql>
    <select id="selectById" resultMap="DetailResultMap">
     SELECT  <include refid="Detail_Column_List"></include> FROM tb_issues ti
     LEFT JOIN tb_user du ON du.id = ti.d_uid
     LEFT JOIN tb_user pu ON pu.id = ti.p_uid
     LEFT JOIN tb_user vu ON vu.id = ti.v_uid
     LEFT JOIN tb_hospital h ON ti.hospital_id = h.id
     LEFT JOIN tb_issues_op_log tiol ON tiol.isid = ti.id
     WHERE ti.id=#{id} and ti.is_del=0
    </select>

    <!-- 预览数据结果列 -->
    <resultMap id="ViewResultMap" type="com.cdxt.backend.pojo.vo.IssuesViewVO" extends="BaseResultMap">
        <result column="d_user" property="dUser" />
        <result column="v_user" property="vUser" />
        <result column="p_user" property="pUser" />
        <result column="hospital_name" property="hospitalName" />
        <result column="hospital_branch" property="hospitalBranch" />
    </resultMap>
    <sql id="View_Column_List">
        ti.id,ti.title,ti.classification,ti.priority_code,ti.state,ti.module,ti.gmt_create,ti.gmt_completion,
        du.true_name as d_user,pu.true_name as p_user,vu.true_name as v_user,
        h.name as hospital_name,h.branch as hospital_branch
    </sql>
    <select id="selectPageByQueryDTO" resultMap="ViewResultMap"  parameterType="com.cdxt.backend.pojo.dto.IssuesQueryDTO">
        SELECT  <include refid="View_Column_List"></include> FROM tb_issues ti
             LEFT JOIN tb_user du ON du.id = ti.d_uid
             LEFT JOIN tb_user pu ON pu.id = ti.p_uid
             LEFT JOIN tb_user vu ON vu.id = ti.v_uid
             LEFT JOIN tb_hospital h ON ti.hospital_id = h.id
             <where>
                    1 = 1
                 <if test="title!=null and title!=''">
                     and  ti.title like concat('%',#{title},'%')
                 </if>

                 <if test="classification!=null and classification!=''">
                     and  ti.classification =#{classification}
                 </if>

                 <if test="priorityCode!=null and priorityCode!=''">
                     and  ti.priority_code =#{priorityCode}
                 </if>
                 <if test="state!=null and state!=''">
                     and  ti.state =#{state}
                 </if>
                 <if test="uid!=null and uid!=''">
                     and (d_uid = #{uid} or p_uid = #{uid} or v_uid = #{uid})
                 </if>
                 <if test="module!=null and module!=''">
                     and  ti.module =#{module}
                 </if>
                 <if test="isDel!=null and isDel!=''">
                     and  ti.is_del =#{isDel}
                 </if>
                 <if test="sortSql!=null and sortSql!=''">
                     order by  #{sortSql}
                 </if>
                 limit ${(pageNum-1)*pageSize},#{pageSize}
             </where>
    </select>
    <select id="selectPageByQueryDTOCount" resultType="java.lang.Long">
        SELECT  count(1) FROM tb_issues ti
        <where>
            1 = 1
            <if test="title!=null and title!=''">
                and  ti.title like concat('%',#{title},'%')
            </if>

            <if test="classification!=null and classification!=''">
                and  ti.classification =#{classification}
            </if>

            <if test="priorityCode!=null and priorityCode!=''">
                and  ti.priority_code =#{priorityCode}
            </if>
            <if test="state!=null and state!=''">
                and  ti.state =#{state}
            </if>
            <if test="uid!=null and uid!=''">
                and (d_uid = #{uid} or p_uid = #{uid} or v_uid = #{uid})
            </if>
            <if test="module!=null and module!=''">
                and  ti.module =#{module}
            </if>
            <if test="isDel!=null and isDel!=''">
                and  ti.is_del =#{isDel}
            </if>
        </where>
    </select>
    <select id="selectViewColumnById" resultType="com.cdxt.backend.pojo.vo.IssuesViewVO">
          SELECT  <include refid="View_Column_List"></include> FROM tb_issues ti
             LEFT JOIN tb_user du ON du.id = ti.d_uid
             LEFT JOIN tb_user pu ON pu.id = ti.p_uid
             LEFT JOIN tb_user vu ON vu.id = ti.v_uid
             LEFT JOIN tb_hospital h ON ti.hospital_id = h.id
             <where>
                is_del='0' and ti.id=#{id}
             </where>
    </select>
    <update id="updateByIdWithFieldsNotNull" parameterType="com.cdxt.backend.model.Issues">
        UPDATE tb_issues
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null and title!=''">
                  title #{title},
            </if>

            <if test="classification!=null and classification!=''">
                  classification =#{classification},
            </if>

            <if test="priorityCode!=null and priorityCode!=''">
                  priority_code =#{priorityCode}
            </if>
            <if test="state!=null and state!=''">
                  state =#{state},
            </if>
            <if test="dUid!=null and dUid!=''">
                 d_uid = #{dUid},
            </if>
            <if test="vUid!=null and vUid!=''">
                 v_uid = #{vUid},
            </if>
            <if test="pUid!=null and pUid!=''">
                 p_uid = #{pUid},
            </if>
            <if test="module!=null and module!=''">
                  module =#{module},
            </if>
            <if test="isDel!=null and isDel!=''">
                  is_del =#{isDel},
            </if>
        </trim>
        where id=#{id}
    </update>


</mapper>
