<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdxt.backend.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdxt.backend.model.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="role" property="role" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, role, gmt_create, gmt_modified
    </sql>

    <sql id="View_Column_List">
        id, username, true_name,phone,gender, role,dept, module,gmt_create
    </sql>
    <select id="selectByUserLoginDTO" resultType="com.cdxt.common.pojo.vo.UserBaseVO">
        select  <include refid="Base_Column_List"></include>
        from tb_user
        where
        username=#{account,jdbcType=VARCHAR}
    </select>
    <select id="selectViewPage" resultType="com.cdxt.backend.pojo.vo.UserViewVO">

        select  <include refid="View_Column_List"/>
        from tb_user where
        1 = 1
        <if test="trueName !=null and trueName!=''">
            and true_name like concat('%',#{trueName},'%')
        </if>
    </select>

</mapper>
